/*..........Global styles..........*/
body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #000;
}

.title {
  padding-top: 100px;
  padding-bottom:70px;
  text-align: center;
}

.title__main {
  font-size: 32px;
}

.title__text {
  font-size: 20px;
  width: 780px;
  margin: 0 auto;
}

/*..........Header..........*/
.main__header {
  background: #fcdb00;
  color: #010101;
  padding-top: 58px;
  padding-bottom: 105px;
}

.main__header ul {
  margin-top: 8px;
}

.menu__item {
  margin: 0 57px;
}

.menu__item a {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  transition: all 0.3s ease;
}

.menu__item a:hover,
.menu__item a:focus {
  color: #ff4800;
  text-decoration: none;
}

.offer {
  margin-top: 117px;
}

.offer__title {
  font-size: 32px;
  margin-bottom: 15px;
}

.offer__intro {
  font-size: 20px;
  line-height: 1.3em;
}

.offer__text {
  font-size: 16px;
  margin-top: 15px;
  width: 400px;
}

.icons__item {
  margin-right: 30px;
}

.icons__item a {
  color: #000;
  font-size: 42px;
  transition: all 0.3s ease;
}

.icons__item a:hover,
.icons__item a:focus {
  text-decoration: none;
  color: #ff4800;
}

.ipad {
  display: block;
  margin: 60px auto 0;
}

/*..........Features..........*/
.title h2 {
  text-align: center; 
}

.feature {
  margin-bottom: 65px;
}

.feature h3 {
  font-weight: 400;
}

.feature__icon {
  font-size: 35px;
  margin-right: 20px;
  width: 100px;
  text-align: center;
  color: #000;
}

.feature__text {
  color: #898989;
}


.features_grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
    margin-left: 60px;
}

/*..........Touch..........*/
.touch {
  background: #010101;
  color: #fff;
}


/*..........Footer..........*/
.footer-body {
  background-color: #000;
  color: white;
}

.footer-title {
  font-size: 2rem;
}

.footer-input {
  max-width: 400px;
  border-radius: 0;
}

.footer-social-icons .footer-icon {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}



/*..........Media queries..........*/
@media screen and (max-width: 992px) {
  .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .offer {
    text-align: center;
  }
  .offer__text {
    margin: 20px auto;
    width: auto;
  }
  .icons {
    justify-content: center;
  }
  .icons__item:nth-child(3) {
    margin-right: 0;
  }
  .form__input {
    margin-right: 0;
    width: 100%;
  }
  .form__btn {
    margin-top: 20px;
    width: 100%;
  }
  .title__text {
    width: auto;
  }
}

@media screen and (max-width: 576px) {
  .icons__item {
    margin-right: 0;
  }
  .ipad {
    width: 100%;
  }
  .main__header ul {
    flex-direction: column;
  }
  .menu__item {
    text-align: center;
    margin-bottom: 15px;
  }
}

